<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.joffer.mango">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".features.payment.contacts.ContactsActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.payment.creditcard.CardPrimingActivity"
                  android:screenOrientation="portrait"/>

        <activity
                android:exported="true"
                android:name=".features.payment.creditcard.register.RegisterCardActivity"
                  android:screenOrientation="portrait"/>

        <activity
                android:exported="true"
                android:name=".features.payment.PaymentActivity"
                android:windowSoftInputMode="stateVisible"
                android:screenOrientation="portrait"/>
    </application>
</manifest>
